
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^intenthub\.uz$ [OR]
RewriteCond %{HTTP_HOST} ^www\.intenthub\.uz$
RewriteRule ^/?$ "https\:\/\/intenthub\.uz\/" [R=301,L]

